.circle {
  height: 980px;
  width: 980px;
  background-color: #75C4FA;
  border-radius: 50%;
  position: fixed;
  bottom:-300px;
  right:-600px;
  background-attachment: fixed;
}

.navbar {
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 10px;
}

.navbar-brand {
  font-size: 25pt;
  font-weight: 400;
}

.col {
  margin-top: 50px;
}

.btn {
  font-size: 20pt;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 40px;
}

.btn-primary {
  background-color: #75C4FA;
  color: #2C3E50;
  border: 0;
}

.card {
  border-color: rgb(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 40px;
  width: 100%;
  margin-bottom: 30px;
}

.card-title {
  font-size: 30pt;
}

.card-subtitle {
  font-size: 18pt;
}

.card-text {
  font-size: 18pt;
}

.form-check {
  margin-top: 20px;
}

#ephemeralSecretsLargeHeading {
  font-size: 40pt;
  font-weight: 500;
  margin-bottom: 30px;
}

#secretForm {
  height: 300px;
  border: 0;
}

#viewingSecretID {
  margin-bottom: 30px;
}

#postSecretSubmitCard {
 text-align: center;
}

#secretText {
  margin: 10px;
}

#password {
  border: 0;
}